extends ./layout/index

block slider
  .slider
    h1 Rio de Janeiro
    em aventura

block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Pellentesque eu sollicitudin mi. Sed eget velit fermentum, finibus arcu eu, lacinia mi. Curabitur quis urna ac dolor iaculis aliquet. Fusce leo nisl, tincidunt et condimentum at, elementum in orci. Nunc ac faucibus erat. Integer sit amet condimentum nunc. Mauris volutpat mauris id orci congue, sed hendrerit nisl tincidunt.
        p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sit amet eros nec leo lobortis scelerisque. Donec porttitor euismod magna, blandit congue augue vehicula ac. Aenean aliquet sodales nibh eu tempor.
      .col-md-6      
        img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")  

    include ./layout/bloque_viajes

  .descuento
    .container
      .row
        .col-md-6
          .contenido
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de Marzo de 2020 - 28 de Marzo de 2022
            p.precio $2.500USD
    
  .container
    h2.mt-5.text-center Testimoniales
    include ./layout/bloque_testimoniales