extends layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1= pagina

        blockquote Vestibulum at justo eget neque euismod commodo. Maecenas vitae diam rhoncus, lacinia orci id, gravida lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sed hendrerit nisl, eu convallis velit. Phasellus facilisis fermentum mauris, quis elementum quam fermentum et. Curabitur quis maximus orci. Vestibulum viverra, augue vel auctor imperdiet, lectus risus fermentum augue, a vehicula lorem velit vel orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In finibus finibus purus, rhoncus scelerisque est congue eu. Morbi ipsum neque, scelerisque eu quam vel, pharetra efficitur est. Quisque et laoreet tortor.

        p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum elit odio, scelerisque et diam at, lacinia bibendum felis. Donec quis eros auctor nulla dictum ullamcorper at vitae justo. Suspendisse dictum sapien in urna rutrum laoreet. Mauris sit amet quam nec elit iaculis facilisis. Nunc ultrices semper erat at placerat. Mauris at maximus ex.

        p Nullam pellentesque blandit hendrerit. Sed euismod purus lectus, eu faucibus lectus tristique et. Praesent quis nisl at leo finibus blandit. Sed at sagittis neque, id porttitor risus. Duis ullamcorper interdum ultrices. Nam suscipit nisl ac massa venenatis, sit amet blandit justo fringilla. Nullam sagittis tincidunt faucibus.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Nam suscipit nisl ac massa venenatis, sit amet blandit justo fringilla. Nullam sagittis tincidunt faucibus.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Nam suscipit nisl ac massa venenatis, sit amet blandit justo fringilla. Nullam sagittis tincidunt faucibus.

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Nam suscipit nisl ac massa venenatis, sit amet blandit justo fringilla. Nullam sagittis tincidunt faucibus.